<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <link rel="stylesheet" href="../styles/global.css">
<body>
    <main>
        <!-- Remove this once the header is created -->
        <h1>Chat Application</h1>
        <section class="container">
            <div class="contactInterface"></div>
            <div class="chatInterface">
                <div class="chatbubble-send">
                    <div class="sentbubble">
                        <p class="sent-message">This is a sent message</p>
                    </div>
                    <p class="sent-time">2.27 pm</p>
                </div>
                <div class="chatbubble-recive">
                    <div class="recivedbubble">
                        <p class="recived-message">This is a recived message</p>
                    </div>
                    <p class="recived-time">3.30pm</p>
                </div>

                <!-- sending message -->
                 <div class="chatTyping_interface">
                    <div class="messageIcons">
                        <input id="message" type="text" placeholder="Type your message">
                        <button>></button>                        
                    </div>
                 </div>
            </div>
        </section>
    </main>
</body>
</html>