* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Once the header is created remove this part */
h1 {
    text-align: center;
    background: black;
    color: white;
    padding-top: 50px;
    text-transform: uppercase;
    font-size: 2em;
}

/* main project */
.container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90.18vh;
    width: 100vw;
}

.chatInterface {
    background-color: white;
    width: 25%;
    height: 80%;
    border-radius: 0 10px 10px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.contactInterface {
    background-color: #808080;
    width: 25%;
    height: 80%;
    border-radius: 10px 0 0 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.chatbubble-send {
    align-self: flex-end;
    display: flex;
    flex-direction: column;    
    margin-bottom: 20px;
}

.sentbubble {
    background-color: #005682;
    border-radius: 30px 0 30px 30px;
    padding: 10px 20px 10px 40px;
}

.chatbubble-send p.sent-message {
    color: white;
}

.chatbubble-send p.sent-time{
    color: #808080;
    font-size: 12px;
    align-self: flex-end;   
    /* padding-right: 15px; */
    padding-top: 5px;
}

.chatbubble-recive {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.recivedbubble {
    background-color: #1f8b03;
    border-radius: 30px 30px 30px 0;
    padding: 10px 40px 10px 20px;
}

.chatbubble-recive p.recived-message {
    color: white;
}

.chatbubble-recive p.recived-time{
    color: #808080;
    font-size: 12px;
    align-self: flex-start;
    /* padding-left: 10px; */
    padding-top: 5px;
}

.chatTyping_interface {
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.messageIcons {
    width: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.chatTyping_interface input#message {
    font-size: 16px;
    width: 100%;
    padding: 10px 15px;
    margin-right: 5px;
    border-radius: 10px;
    border: 1px #808080 solid;
}

.chatTyping_interface button {
    font-size: 20px;
    padding: 7px 15px;
    border-radius: 25%;
    background: #4ed82c;
    border: none;
}